<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>chs</key>
		<string>[一宝]</string>
		<key>cht</key>
		<string>[笑哈哈]</string>
		<key>gif</key>
		<string>lxh_xiaohaha.gif</string>
		<key>png</key>
		<string>psb.jpg</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[二宝]</string>
		<key>cht</key>
		<string>[好愛哦]</string>
		<key>gif</key>
		<string>lxh_haoaio.gif</string>
		<key>png</key>
		<string>kefanni.jpg</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[三宝]</string>
		<key>cht</key>
		<string>[噢耶]</string>
		<key>gif</key>
		<string>lxh_oye.gif</string>
		<key>png</key>
		<string>a.jpg</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[四宝]</string>
		<key>cht</key>
		<string>[偷樂]</string>
		<key>gif</key>
		<string>lxh_toule.gif</string>
		<key>png</key>
		<string>qilai.jpg</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[五宝]</string>
		<key>cht</key>
		<string>[淚流滿面]</string>
		<key>gif</key>
		<string>lxh_leiliumanmian.gif</string>
		<key>png</key>
		<string>wocong.jpg</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[六宝]</string>
		<key>cht</key>
		<string>[巨汗]</string>
		<key>gif</key>
		<string>lxh_juhan.gif</string>
		<key>png</key>
		<string>xiaochao.jpg</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[七宝]</string>
		<key>cht</key>
		<string>[摳鼻屎]</string>
		<key>gif</key>
		<string>lxh_koubishi.gif</string>
		<key>png</key>
		<string>smile.jpg</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[八宝]</string>
		<key>cht</key>
		<string>[求關注]</string>
		<key>gif</key>
		<string>lxh_qiuguanzhu.gif</string>
		<key>png</key>
		<string>bishini.jpg</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[九宝]</string>
		<key>cht</key>
		<string>[好喜歡]</string>
		<key>gif</key>
		<string>lxh_haoxihuan.gif</string>
		<key>png</key>
		<string>yeah.jpg</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[十宝]</string>
		<key>cht</key>
		<string>[崩潰]</string>
		<key>gif</key>
		<string>lxh_bengkui.gif</string>
		<key>png</key>
		<string>yohi.jpg</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[十一宝]</string>
		<key>cht</key>
		<string>[好冏]</string>
		<key>gif</key>
		<string>lxh_haojiong.gif</string>
		<key>png</key>
		<string>maixiela.jpg</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[十二宝]</string>
		<key>cht</key>
		<string>[震驚]</string>
		<key>gif</key>
		<string>lxh_zhenjing.gif</string>
		<key>png</key>
		<string>basketball.jpg</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[十三宝]</string>
		<key>cht</key>
		<string>[別煩我]</string>
		<key>gif</key>
		<string>lxh_biefanwo.gif</string>
		<key>png</key>
		<string>milk.jpg</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[十四宝]</string>
		<key>cht</key>
		<string>[不好意思]</string>
		<key>gif</key>
		<string>lxh_buhaoyisi.gif</string>
		<key>png</key>
		<string>liwu.jpg</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[十五宝]</string>
		<key>cht</key>
		<string>[羞嗒嗒]</string>
		<key>gif</key>
		<string>lxh_xiudada.gif</string>
		<key>png</key>
		<string>liwu2.jpg</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[十六宝]</string>
		<key>cht</key>
		<string>[得意地笑]</string>
		<key>gif</key>
		<string>lxh_deyidexiao.gif</string>
		<key>png</key>
		<string>xiaolu.jpg</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[十七宝]</string>
		<key>cht</key>
		<string>[有鴨梨]</string>
		<key>gif</key>
		<string>lxh_youyali.gif</string>
		<key>png</key>
		<string></string>
		<key>type</key>
		<string>0</string>
	</dict>
</array>
</plist>
